<section class="contact" id="contact">

  <div class="contact-container">

    <div class="contact-left">

      <p class="section-label">Let's Connect</p>

      <h2>
        Have an opportunity,
        idea, or conversation in mind?
      </h2>

      <p class="contact-description">
        I’m always open to connecting about cybersecurity, identity security,
        software engineering, AI, data, or interesting projects.
      </p>

      <div class="contact-details">

       <a
  href="mailto:jayashreejanani.p@gmail.com"
  class="contact-item"
>
  <span class="contact-icon">✉️</span>

  <div>
    <small>Email</small>
    <strong>jayashreejanani.p&#64;gmail.com</strong>
  </div>
</a>

        <a
          href="https://www.linkedin.com/in/jayashree-purushothaman/"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-item"
        >
          <span class="contact-icon">in</span>

          <div>
            <small>LinkedIn</small>
            <strong>Connect with me</strong>
          </div>
        </a>

        <a
          href="https://github.com/JayashreeJanani"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-item"
        >
          <span class="contact-icon">⌘</span>

          <div>
            <small>GitHub</small>
            <strong>Explore my code</strong>
          </div>
        </a>

      </div>

    </div>


    <div class="contact-card">

      <p class="card-label">
        Send a Message
      </p>

      <h3>Let's talk.</h3>

      <form>

        <div class="form-row">

          <div class="form-group">
            <label for="name">Name</label>

            <input
              id="name"
              type="text"
              placeholder="Your name"
            >
          </div>

          <div class="form-group">
            <label for="email">Email</label>

         <input
  id="email"
  type="email"
  placeholder="you&#64;example.com"
>
          </div>

        </div>

        <div class="form-group">
          <label for="subject">Subject</label>

          <input
            id="subject"
            type="text"
            placeholder="What would you like to talk about?"
          >
        </div>

        <div class="form-group">
          <label for="message">Message</label>

          <textarea
            id="message"
            rows="6"
            placeholder="Write your message..."
          ></textarea>
        </div>

        <button type="submit" class="send-btn">
          Send Message
          <span>→</span>
        </button>

      </form>

    </div>

  </div>

</section>