<section class="hero" id="home">
  <div class="hero-container">

    <div class="hero-content">
      <p class="eyebrow">Hi, I'm </p>

      <h1>
        Jayashree <span>Janani</span>
      </h1>

      <h2>
        Cybersecurity & Computer Science Professional
      </h2>

      <p class="intro">
        From building enterprise applications to securing digital identities, I turn complex technology into solutions that work. My experience spans IAM, CyberArk PAM, automation, NLP, analytics, and AI-driven systems.
      </p>

      <!-- <div class="skills-preview">
        <span>IAM & PAM</span>
        <span>CyberArk</span>
        <span>Power BI</span>
        <span>Python</span>
        <span>Angular</span>
      </div> -->

      <div class="hero-actions">
        <a href="#projects" class="primary-btn">
          Explore My Work
        </a>

        <a href="#contact" class="secondary-btn">
          Contact Me
        </a>
      </div>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/jayashree-purushothaman/" target="_blank">LinkedIn</a>
        <a href="https://github.com/JayashreeJanani" target="_blank">GitHub</a>
      </div>
    </div>

   <div class="hero-visual">

  <div class="image-wrapper">
    <div class="image-placeholder">
      <img src="/assets/img/Portfolio.jpeg" alt="Jay">
    </div>
  </div>

  <div class="floating-card card-one">
    🔐 Identity Security
  </div>

  <div class="floating-card card-two">
    📊 Data & Analytics
  </div>

  <div class="floating-card card-three">
    💻 Software Engineering
  </div>

</div>

  </div>
</section>
<!--C:\Users\Shiv\Documents\janu\Canada\residence\Full time preparation\jay-portfolio\Jay-Portfolio\src\assets\img\Portfolio.jpeg -->